.center-container-grid {
    display: grid;
    place-items: center;
    height: 50vh; /* Ajusta al 100% del alto de la ventana */
}

.spacing-label {
    margin-right: 120px; /* Ajusta este valor según la separación que desees */
}

.content {
    display: flex;
    flex-direction: column;
    min-height: 26.5vh;
    flex: 1;
}

.right-container {
    display: flex;
    justify-content: right;
    position: fixed;    /* Esto hará que el mensaje quede fijo en la ventana del navegador */
    top: 80px;          /* Distancia desde el borde superior */
    right: 30px;        /* Distancia desde el borde derecho */
}


