
.image-container {
    position: relative; 
    height: calc(100% - 100px); /* Restamos la altura combinada del header y footer */
    overflow: hidden;
}

img {
    display: block;
    width: 100%;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 24px;
    z-index: 2;
}